################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/HandySafeToEnpass6/v15
/.vs/HandySafeToEnpass6/v16
/HandySafeToEnpass6/.vs/HandySafeToEnpass6
/HandySafeToEnpass6/bin
/HandySafeToEnpass6/obj
/HandySafeToEnpass6/HandySafeToEnpass6.csproj.user
/HandySafeToEnpass6.sln

