################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HandySafeToEnpass6/.vs/HandySafeToEnpass6/v16/Server/sqlite3
